---
import type { Project } from '../utils/types';
import { getApiUrls } from '../utils/util';

interface Props {
	project: Project;
}

const { project } = Astro.props;
const url = new URL(Astro.request.url);
const apiUrls = getApiUrls(import.meta.env.DEV, project.name, url.origin);
const githubData: { description: string, html_url: string } = await fetch(apiUrls.github).then(res => res.json());
const githubLanguageData: { [key: string]: number } = await fetch(apiUrls.languages).then(res => res.json());
const languageColors: { [key: string]: {color: string} } = await fetch(apiUrls.colors).then(res => res.json());
const lanugages = Object.entries(githubLanguageData).map(([language, data]) => ({
	language,
	data,
	color: languageColors[language]
})).sort((a, b) => b.data - a.data);
---

<section class="card bg-base-100 w-70 shadow-sm flex flex-col overflow-hidden">
	<div class="aspect-video w-full bg-cover" class:list={project.picture ? ['with-image'] : ['bg-primary']}>
	</div>
	<div class="card-body">
		<h1 class="card-title"> <a href={githubData.html_url} class="link"> {project.name} </a></h1>
		<div class="flex gap-2 flex-row flex-wrap">
			{lanugages.map(l => {
				return <span class="flex gap-1 items-center"><span class=`status` style={{backgroundColor: l.color.color}}></span> {l.language}</span>
			})}
		</div>
		<p>{githubData.description}</p>
	</div>
</section>

<style define:vars={{projectpicture: `url(${project.picture})`}}>

.with-image {
	background-image: var(--projectpicture);
}

</style>
